:root{
    --primary: #415f91;
    --secondary: #565f71;
    --tertiary: #705575; 
    --error: #ba1a1a;
    --background: #ffffff;

    --primary-container: #d6e3ff;
    --secondary-container: #dae2f9;
    --tertiary-container: #fad8fd;
    --error-container: #ffdad6;
}