@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");

:root{
    --primary: #415f91;
    --secondary: #565f71;
    --tertiary: #705575; 
    --error: #ba1a1a;
    --background: #ffffff;
    --primary-container: #d6e3ff;
    --secondary-container: #dae2f9;
    --tertiary-container: #fad8fd;
    --error-container: #ffdad6;
    --primary-background: #001b3e;
    --secondary-background: #131c2b;
    --tertiary-background: #28132e;
    --error-background: #410002;
}

body{
    background: #f2f2f2;
}

.small-material-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--background);
    color: var(--primary);
    height: 40px;
    padding: 0px 24px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    gap: 8px;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: box-shadow 0.2s ease-in-out 0s;
}

.small-material-button:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.small-material-button:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.rsvp-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary-container);
    color:var(--primary-background);
}

*{
    outline: none;
}

.list-container{
    margin-top: 130px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.list-title{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: var(--background);
    color: var(--primary);
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.material-listwrapper{
    background-color: var(--primary-container);
    border-radius: 20px;
    height: fit-content;
    padding: 10px;
    padding-bottom: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.material-eventbox{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: var(--background);
    border-radius: 20px;
    margin-bottom: 10px;
}

.material-eventbox .image{
    max-width: 200px;
    max-height: 200px;
    border-right: 1px solid var(--primary-container);
}

.material-eventbox .image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.material-eventbox .info{
    width: 100%;
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.info .top{
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 5px
;}

.info .middle{
    flex-grow: 1;
    margin-left:5px;
    max-height: 97px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.info .bottom{
    margin-bottom: 10px;
    margin-left: 20px;
    color:var(--tertiary);
    margin-top: 10px;
}

.section::-webkit-scrollbar {
    display: none;
}
