@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black:100,200,300,400,500,600,700,800,900");

.form-padding{
    text-align: center;
}

.button {
    outline: none!important;
    border: none;
    background: 0 0;
    cursor: pointer;
}

.button-upload {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
  }