@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black:100,200,300,400,500,600,700,800,900");


:root{
    --primary: #415f91;
    --secondary: #565f71;
    --tertiary: #705575; 
    --error: #ba1a1a;
    --background: #ffffff;
    --primary-container: #d6e3ff;
    --secondary-container: #dae2f9;
    --tertiary-container: #fad8fd;
    --error-container: #ffdad6;
    --primary-background: #001b3e;
    --secondary-background: #131c2b;
    --tertiary-background: #28132e;
    --error-background: #410002;
}

.form-larger-button{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #ee7373;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 50px;
}

.form-larger-button img{
    border-radius: 50%;
    width: 170px;
    object-fit:cover;
    margin-top: 35px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 1px solid var(--tertiary);
}

.button-upload {
    cursor: pointer;
    font: inherit;
    min-height: 48px;
    min-width: 48px;
}

.profile-push{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    background-color: var(--background);
    border-radius: 20px;
    box-sizing: border-box;
    padding-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
    padding-bottom: 20px;
}

@media (max-width: 1100px) {
    .profile-push{
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        max-width: 90vw;
        background-color: var(--background);
        border-radius: 20px;
        box-sizing: border-box;
        padding-bottom: 10px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
    }
}

.profile-push .pinfo{
    margin-top: 30px;
}

.profile-push .info-box{
    padding: 10px;
    border: 1px solid var(--tertiary);
    background-color: var(--tertiary-container);
    color: var(--tertiary-background);
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}

.tabs button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    border: 1px solid var(--tertiary);
    background-color: var(--tertiary-container);
    color: var(--tertiary-background);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; 
}

.tabs button:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.tabs button:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.separator{
    margin-bottom: 50px;
    box-sizing: border-box;
}

.capsule{
    margin-bottom: 30px;
}